@font-face{
    font-family: letraMedium;
    src: url(fuentes/HoxtonNorthTrial-Medium-BF63c898143a962.otf);
}
.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: rgb(219, 238, 9);
    overflow: hidden;
}
.superior{
    width: 90vw;
    height: 9vh;
    background-color: rgb(215, 33, 179);
    margin-left: 340px;
}
.superior label{
    position: relative;
    left: 30px;
    top: 30px;
    
}
label img{
    position: relative;
    left: -9px;
    bottom: 7px;
    width: 2vw;
    height: 4vh;
}
#menusito{
    position: relative;
    left: 400px;
    bottom: 20px;
    opacity: 0;
}
#menusito:checked ~ .menu{
    margin-left: -50vw;
}
.menu{
    position: relative;
    bottom: 109px;
    height: 100vh;
    width: 17.7vw;
    background-color: rgb(102, 80, 80);

}
.emojiAzul{
    position: relative;
    left: 1px;
    top: 45px;
    width: 4vw;
    height: 5vh;
}
.letraAzul{
    position: relative;
    left: 90px;
    bottom: 34px;
    font-size: 40px;
    font-family: letraMedium;
}
.DashboardCuadroA {
    position: relative;
    left: 30px;
    top: 200px;
    width: 15vw;
    height: 7vh;
    border-radius: 10px;
    background-color: blue;
}
.DashboardCuadroA .Texto{
    position: relative;
    left: 80px;
    top: 20px;
    font-size: 30px;
    font-family: letraMedium;
    color: white;
}
.bloqueMain {
    position: relative;
    left: 30px;
    top: 200px;
    width: 15vw;
    height: 20vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(210, 210, 231);
}
.bloqueMain .cuadroElements{
    position: relative;
    left: 1px;
    top: 60px;
    width: 15vw;
    height: 7vh;
    border-radius: 10px;
    background-color: rgb(146, 146, 156);
}


.cajas{
    display: flex;
}
.letrasCentro{
    position: relative;
    left: 370px;
    bottom: 910px;
    width: 20vw;
    height: 15vh;
    
}
.letrasCentro .palabra1{
    position: relative;
    top: 10px;
    font-size: 40px;
    font-family: letraMedium;
}
.letrasCentro p{
    position: relative;
    bottom: 20px;
    font-size: 15px;
    font-family: letraMedium;
}



.cajitas1 {
    position: relative;
    left: 170px;
    bottom: 170px;
    width: 19vw;
    height: 20vh;
    background-color: white;
    margin-top: -38vw;
    margin-right: -20vh;
    margin-left: 10%;
    border-radius: 0.5vw;
    box-shadow: 10px 10px 50px rgb(205, 203, 203);
    
}
.cajitas1 .cj1L1{
    position: relative;
    font-family: letraMedium;
    font-size: larger;
    left: 10px;
}
.cajitas1 .cj1L2{
    position: relative;
    font-family: letraMedium;
    left: 10px;
}
.cajitas1 .cj1Verde{
    position: relative;
    left: 290px;
    bottom: 40px;
    width: 1.5vw;
}
.cajitas1 .barras1{
    position: relative;
    left: 10px;
    width: 90%;
    height: 10px;
    background: #999;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
}
.cajitas1 .barras1:before{
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background: #0280fe;
}




.cajitas2 {
    position: relative;
    left: 170px;
    bottom: 170px;
    width: 19vw;
    height: 20vh;
    background-color: white;
    margin-top: -38vw;
    margin-right: -20vh;
    margin-left: 10%;
    border-radius: 0.5vw;
    box-shadow: 10px 10px 50px rgb(205, 203, 203);
    
}
.cajitas2 .cj2L1{
    position: relative;
    font-family: letraMedium;
    font-size: larger;
    left: 10px;
}
.cajitas2 .cj2L2{
    position: relative;
    font-family: letraMedium;
    left: 10px;
}
.cajitas2 .cj2Roja{
    position: relative;
    left: 290px;
    bottom: 40px;
    width: 2vw;
    height: 3vh;
}
.cajitas2 .barras2{
    position: relative;
    left: 10px;
    width: 90%;
    height: 10px;
    background: #999;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
}
.cajitas2 .barras2:before{
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background: #0280fe;
}




.cajitas3 {
    position: relative;
    left: 170px;
    bottom: 170px;
    width: 19vw;
    height: 20vh;
    background-color: white;
    margin-top: -38vw;
    margin-right: -20vh;
    margin-left: 10%;
    border-radius: 0.5vw;
    box-shadow: 10px 10px 50px rgb(205, 203, 203);
    
}
.cajitas3 .cj3L1{
    position: relative;
    font-family: letraMedium;
    font-size: larger;
    left: 10px;
}
.cajitas3 .cj3L2{
    position: relative;
    font-family: letraMedium;
    left: 10px;
}
.cajitas3 .cj3Verde{
    position: relative;
    left: 290px;
    bottom: 40px;
    width: 1.5vw;
}
.cajitas3 .barras3{
    position: relative;
    left: 10px;
    width: 90%;
    height: 10px;
    background: #999;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
}
.cajitas3 .barras3:before{
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background: #0280fe;
}



.cajitas4 {
    position: relative;
    left: 170px;
    bottom: 170px;
    width: 19vw;
    height: 20vh;
    background-color: white;
    margin-top: -38vw;
    margin-right: -20vh;
    margin-left: 10%;
    border-radius: 0.5vw;
    box-shadow: 10px 10px 50px rgb(205, 203, 203);
    
}
.cajitas4 .cj4L1{
    position: relative;
    font-family: letraMedium;
    font-size: larger;
    left: 10px;
}
.cajitas4 .cj4L2{
    position: relative;
    font-family: letraMedium;
    left: 10px;
}
.cajitas4 .cj4Verde{
    position: relative;
    left: 290px;
    bottom: 40px;
    width: 1.5vw;
}
.cajitas4 .barras4{
    position: relative;
    left: 10px;
    width: 90%;
    height: 10px;
    background: #999;
    border-radius: 6px;
    overflow: hidden;
    margin: 5px 0;
}
.cajitas4 .barras4:before{
    content: '';
    position: absolute;
    width: var(--wth);
    height: 100%;
    background: #0280fe;
}



.cajaLarga{
    position: relative;
    left: 170px;
    bottom: 210px;
    background-color: white;
    width: 78.4vw;
    height: 20vh;
    margin-top: -27vw;
    margin-left: 10vw;
    border-radius: 0.5vw;
    box-shadow: 10px 10px 50px rgb(205, 203, 203);

}
.cajaLarga .Lt1Cl{    
    position: relative;
    left: 20px;
    top: 15px;
    font-family: letraMedium;
    font-size: 33px;
}
.cajaLarga .Lt2Cl{
    position: relative;
    font-family: letraMedium;
    font-size: 45px;
    left: 10px;
    top: 35px;
}