body{/*Fondo principal*/
    margin: 1z;
    background-image: linear-gradient(white, rgb(77, 77, 70));
}
.cuadro1{

    position: relative;        
        top: 100px;
        width: 1400px;
        height: 800px;
        background-color: white  
}   
.cuadro1 .parteSuperior{
    margin: auto;
    width: 1400px;
    height: 44px;
}
.cuadro1 .parteSuperior .logo{
    position: relative;
    left: 43px;
    top: 43px;
}
.cuadro1 .parteSuperior p{
    position: relative;
    left: 700px;
    bottom: 20px;
    font-size: 30px;
}
.cuadro1 .parteSuperior a{
    position: relative;
    left: 932px;
    bottom: 120px;
    font-size: 30px;
}
.cuadro1 .parteSuperior .lupa{
    position: relative;
    left: 950px;
    bottom: 115px;
}
.cuadro1 .parteSuperior .carrito{
    position: relative;
    left: 1050px;
    bottom: 110px;
}
.cuadro1 .CuadroNegro{
    position: relative;
    Margin:auto;
    left: 646px;
    bottom: 44px;
    width: 110px;
    height: 800px;
    background-color: black
}
.cuadro1 .CuadroNegro .flecha1{
    position: relative;
    left: 40px;
    top: 70px;
}
.cuadro1 .CuadroNegro .flecha2{
    position: relative;
    left: 18px;
    top: 710px;
}
.cuadro1 .CuadroNegro .cantidad{
    position: relative;
    left: 14px;
    top: 150px;
}
.cuadro1 .CuadroNegro .menu{
    position: relative;
    left: 45px;
    top: 230px;
}
.cuadro1 .Tarjeta .tarjeta{
    position: relative;
    left: 130px;
    bottom: 680px;
}
.cuadro1 .parteInferior .nombrePrecio{
    position: relative;
    left: 58px;
    bottom: 661px;
}
.cuadro1 .parteInferior .numeroPrecio{
    position: relative;
    right: 660px;
    bottom: 620px;
}
.cuadro1 .cuadroV .cuadroVerde{
    position: relative;
    left: 1080px;
    bottom: 747px;
}
.cuadro1 .cuadroV .logoP{
    position: relative;
    left: 930px;
    bottom: 800px;
    width: 130px;
}
.cuadro1 .cuadroV .comprar{
    position: relative;
    left: 810px;
    bottom: 760px;
}