body{/*Fondo principal*/
    height: 2000px;
    background-image: linear-gradient(white, rgb(77, 77, 70));
}
.cuadro1{
    position: relative;
        Margin:auto;
        top: 200px;
        width: 1400px;
        height: 800px;
        background-color: white  
}   
.cuadro1 .parteSuperior{
    margin: auto;
    width: 1400px;
    height: 44px;
}
.cuadro1 .parteSuperior .logo{
    position: relative;
    left: 43px;
    top: 43px;
}
.cuadro1 .parteSuperior p{
    position: relative;
    left: 972px;
    bottom: 23px;
    font-size: 30px;
}
.cuadro1 .parteSuperior a{
    position: relative;
    left: 700px;
    bottom: 130px;
    font-size: 30px;
}
.cuadro1 .parteSuperior .lupa{
    position: relative;
    left: 909px;
    bottom: 120px;
}
.cuadro1 .parteSuperior .carrito{
    position: relative;
    left: 980px;
    bottom: 116px;
}
.cuadro1 .CuadroNegro{
    position: relative;
    Margin:auto;
    left: 646px;
    bottom: 44px;
    width: 110px;
    height: 800px;
    background-color: black
}
.cuadro1 .CuadroNegro .flecha1{
    position: relative;
    left: 40px;
    top: 70px;
}
.cuadro1 .CuadroNegro .flecha2{
    position: relative;
    left: 18px;
    top: 710px;
}
.cuadro1 .CuadroNegro p{
    position: relative;
    left: 30px;
    top: 130px;
    font-size: 20px;
    color: white;
    font-family: Open Sans, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cuadro1 .CuadroNegro .precio{
    position: relative;
    left: 20px;
    top: 200px;
    width: 80px;
}
.cuadro1 .Tarjeta .tarjeta{
    position: relative;
    left: 220px;
    bottom: 760px;
    width: 700px;
}
.cuadro1 .parteInferior .totalInferior{
    position: relative;
    left: 150px;
    bottom: 800px;
    width: 800px;
    height: 290px;
}

.cuadro1 .cuadroV .cuadroVerde{
    position: relative;
    left: 1080px;
    bottom: 870px;
}
.cuadro1 .cuadroV .logoP{
    position: relative;
    left: 930px;
    bottom: 930px;
    width: 130px;
}
.cuadro1 .cuadroV p{
    position: relative;
    left: 1111px;
    bottom: 950px;
    font-size: 26px;
    font-family: Open Sans, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}