body{/*Fondo principal*/
    height: 610px;
    background-image: linear-gradient(white, rgb(77, 77, 70));
}
.cuadro1{
    position: relative;
        Margin:auto;
        top: 200px;
        width: 1400px;
        height: 800px;
        background-color: white  
}   
.cuadro1 .logo1{
    margin: auto;
    width: 1400px;
    height: 44px;
}
.cuadro1 .logo1 .logo{
    position: relative;
    left: 43px;
    top: 43px;
}
.cuadro1 .logo1 p{
    position: relative;
    left: 700px;
    bottom: 20px;
    font-size: 30px;
}
.cuadro1 .logo1 a{
    position: relative;
    left: 972px;
    bottom: 83px;
    font-size: 30px;
}
.cuadro1 .logo1 .lupa{
    position: relative;
    left: 1000.7px;
    bottom: 79px;
}
.cuadro1 .logo1 .carrito{
    position: relative;
    left: 1050px;
    bottom: 79px;
}