@font-face {
    font-family: letraGrande1;
    src: url(Ember/AmazonEmber_Bd.ttf);
}
@font-face {
    font-family: cuadroBlanco1;
    src: url(Ember/AmazonEmber_Lt.ttf);
}
@font-face {
    font-family: letraPequeña1;
    src: url(Ember/AmazonEmber_Lt.ttf);
}
@font-face {
    font-family: letraBAzul2;
    src: url(Ember/AmazonEmber_Bd.ttf);
}
body{
    background-color: black
    
}
.bloque1{
    position: relative;
    width: 100vw;
    height: 100vh;
}
.bloque1 .fondoB1{
    position: relative;
    width: 100.208vw;
    height: 100vh;
}
.bloque1 .logoB1{
    position: relative;
    width: 20.833vw;    ;
    height: 22vh;
    left: 426px;
    bottom: 560px;

}
.bloque1 .textoB1{
    position: relative;
    left: 245px;
    bottom: 640px;
    font-size: 40px;
    font-family: letraGrande1;
    color: white;

}
.bloque1 .textoB2{
    position: relative;
    left: 300px;
    bottom: 670px;
    font-size: 19.7px;
    color: white;
    font-family: letraPequeña1;
}
.bloque1 .textoB3{
    position: relative;
    left: 248px;
    bottom: 690px;
    font-size: 19.7px;
    color: white;
    font-family: letraPequeña1;
}
.bloque1 .textoB4{
    position: relative;
    left: 603px;
    bottom: 710px;
    font-size: 20px;
    color: white;
    font-family: letraPequeña1;
    font-size: 19.7px;
}
.bloque1 .cuadroBlanco1{
    position: relative;
    width: 15.625vw;
    height: 7vh;
    left: 470px;
    bottom: 700px;
}
.bloque1 .LetraCBlanco1{
    position: relative;
    left: 510px;
    bottom: 780px;
    font-size: 25px;
    font-family: cuadroBlanco1;
    color: black;
}
.bloque1 .cuadroBlanco2{
    position: relative;
    width: 6.771vw;
    height: 3.6vh;
    left: 1104px;
    bottom: 1327px;
}
.bloque1 .LetraCBlanco2{
    position: relative;
    left: 1146px;
    bottom: 1379px;
    font-size: 18px;
    font-family: cuadroBlanco1;
    color: black;
}
.bloque1 .lupa{
    position: relative;
    width: 1.198vw;
    height: 2.3vh;
    left: 41px;
    bottom: 1421px;
}
.BloquesAzules .Azul1{

}
.bloqueA2{
    width: 63.281vw;
    
}
.BloquesAzules .bloqueA2 .Azul2{
    position: relative;
    width: 63.281vw;
    left: 15px;
    height: 45vh;
    bottom: 170px;
}

.BloquesAzules .bloqueA2 .Azul2{
    position: relative;
    width: 63.281vw;
    left: 15px;
    height: 45vh;
    bottom: 740px;
}
.BloquesAzules .bloqueA2 .letraAzul2{
    position: relative;
    left: 50px;
    bottom: 1200px;
    font-size:42px;
    font-family: letraBAzul2;
    color: white;
}
.BloquesAzules .bloqueA2 .foto1{
    position: relative;
    width: 6.146vw;
    height: 18vh;
    left: 295px;
    bottom: 1210px;
}
.BloquesAzules .bloqueA2 .foto2{
    position: relative;
    width: 6.146vw;
    height: 18vh;
    left: 300px;
    bottom: 1210px;
}
.BloquesAzules .bloqueA2 .foto3{
    position: relative;
    width: 6.146vw;
    height: 18vh;
    left: 305px;
    bottom: 1210px;
}
.BloquesAzules .bloqueA2 .foto4{
    position: relative;
    width: 6.146vw;
    height: 18vh;
    left: 310px;
    bottom: 1210px;
}
.BloquesAzules .bloqueA2 .foto5{
    position: relative;
    width: 6.146vw;
    height: 18vh;
    left: 315px;
    bottom: 1210px;
}
.BloquesAzules .bloqueA2 .texto1Azul2{
    position: relative;
    left: 250px;
    bottom: 1210px;
    font-size:33px;
    font-family: cuadroBlanco1;
    color: white;
}
.BloquesAzules .bloqueA2 .texto2Azul2{
    position: relative;
    left: 110px;
    bottom: 1250px;
    font-size: 33px;
    font-family: cuadroBlanco1;
    color: white;
}


.BloquesAzules .Azul3{
    position: relative;
    width: 63.281vw;
    left: 15px;
    height: 45vh;
    bottom: 1212px;
}
.BloquesAzules .texto1Azul3{
    position: relative;
    left: 350px;
    bottom: 1670px;
    font-size:42px;
    font-family: letraBAzul2;
    color: white;
}
.BloquesAzules .emoji{
    position: relative;
    width: 7.292vw;
    height: 14vh;
    left: 550px;
    bottom: 1680px;
}
.BloquesAzules .texto2Azul3{
    position: relative;
    left: 120px;
    bottom: 1680px;
    font-size: 30px;
    font-family: cuadroBlanco1;
    color: white;
}
.BloquesAzules .texto3Azul3{
    position: relative;
    left: 569px;
    bottom: 1710px;
    font-size: 30px;
    font-family: cuadroBlanco1;
    color: white;
}
.BloquesAzules .letra1final{
    position: relative;
    left: 200px;
    bottom: 1680px;
    font-size: 100px;
    font-family: cuadroBlanco1;
    color: white;
}
.BloquesAzules .letra2final{
    position: relative;
    left: 28px;
    bottom: 1750px;
    font-size: 35px;
    font-family: cuadroBlanco1;
    color: white;
}
.BloquesAzules .letra3final{
    position: relative;
    left: 430px;
    bottom: 1790px;
    font-size: 35px;
    font-family: cuadroBlanco1;
    color: white;
}
.BloquesAzules .fechaD{
    position: relative;
    left: 1130px;
    bottom: 1780px;
    width: 1.042vw;
    height: 2vh;
}
.BloquesAzules .fechaI{
    position: relative;
    left:98px;
    bottom: 1780px;
    width: 1.042vw;
    height: 2vh;
}
.BloquesAzules .pantalla1{
    position: relative;
    width: 10.938vw;
    height: 15vh;
    left: 120px;
    bottom: 1700px;
}
.BloquesAzules .pantalla2{
    position: relative;
    width: 14.063vw;
    height: 25vh;
    left: 229px;
    bottom: 1650px;
}
.BloquesAzules .pantalla3{
    position: relative;
    width: 10.417vw;
    height: 15vh;
    left: 310px;
    bottom: 1700px;
}
.BloquesAzules .power{
    position: relative;
    width: 4.167vw;
    height: 2vh;
    right: 220px;
    bottom: 1610px;
}
.BloquesAzules .cace{
    position: relative;
    width: 15.625vw;
    height: 22vh;
    right: 297px;
    bottom: 1430px;
}
.BloquesAzules .ultimasLetras{
    position: relative;
    width: 31.25vw;
    height: 1.5vh;
    left: 320px;
    bottom: 1550px;
}